In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [55]:
#import yfinance as yf
import pandas_datareader.data as pdr
from datetime import datetime, time
import requests

In [59]:
today = datetime.now().date()
today_formatted = today.strftime("%Y-%m-%d")
twenty_year_ago = today.replace(year= today.year-20)
twenty_year_ago_formatted = twenty_year_ago.strftime("%Y-%m-%d")

In [57]:
API_KEY = "1bf964632306ad3e51bcf2ea7f99cf10"
base_url = "https://financialmodelingprep.com/stable/historical-price-eod/full"
#https://financialmodelingprep.com/stable/historical-price-eod/full?symbol=AAPL&apikey=1bf964632306ad3e51bcf2ea7f99cf10

In [61]:
def get_jsonparsed_data(url):
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()
    else:
        print(f"failed tpfetch data from {url}")
        return None
    
def fetch(symbol, start, end):
    url = f'{base_url}?symbol={symbol}&from={start}&to={end}&apikey={API_KEY}'
    data = get_jsonparsed_data(url)
    if data is not None:
        df = pd.DataFrame(data)
        return df
    else:
        return None
    

data = fetch('AAPL',twenty_year_ago_formatted, today_formatted)

In [62]:
data.tail()

,symbol,date,open,high,low,close,volume,change,changePercent,vwap
5025,AAPL,2005-09-30,1.87000000,1.92000000,1.85000000,1.91000000,531849104,0.04571400,2.14000000,1.88750000
5026,AAPL,2005-09-29,1.83000000,1.88000000,1.81000000,1.87000000,637220604,0.04089300,2.19000000,1.84750000
5027,AAPL,2005-09-28,1.90000000,1.90000000,1.81000000,1.82000000,1126688420,-0.07107200,-4.21000000,1.85750000
5028,AAPL,2005-09-27,1.93000000,1.94000000,1.91000000,1.91000000,341774136,-0.01714200,-1.04000000,1.92250000
5029,AAPL,2005-09-26,1.93000000,1.95000000,1.90000000,1.92000000,546621472,-0.00678600,-0.51813000,1.92500000

In [63]:
#Formatting the Dataframe

df = data.set_index('date')
df.head(20)

,symbol,open,high,low,close,volume,change,changePercent,vwap
date,,,,,,,,,
2025-09-23,AAPL,255.88000000,257.34000000,253.58000000,254.43000000,60275187,-1.44000000,-0.56667000,255.30750000
2025-09-22,AAPL,248.30000000,256.64000000,248.12000000,256.08000000,105517416,7.78000000,3.13000000,252.28500000
2025-09-19,AAPL,241.23000000,246.30000000,240.21000000,245.50000000,163741314,4.28000000,1.77000000,243.31000000
2025-09-18,AAPL,239.97000000,241.20000000,236.65000000,237.88000000,44249600,-2.09000000,-0.87094000,238.92500000
2025-09-17,AAPL,238.97000000,240.10000000,237.73000000,238.99000000,46508017,0.02000000,0.00836925,238.94750000
2025-09-16,AAPL,237.18000000,241.22000000,236.32000000,238.15000000,63421100,0.97500000,0.40897000,238.21750000
2025-09-15,AAPL,237.00000000,238.19000000,235.03000000,236.70000000,42699524,-0.30000000,-0.12658000,236.73000000
2025-09-12,AAPL,229.22000000,234.51000000,229.02000000,234.07000000,55824216,4.85000000,2.12000000,231.70500000
2025-09-11,AAPL,226.88000000,230.45000000,226.65000000,230.03000000,50208600,3.16000000,1.39000000,228.50250000
2025-09-10,AAPL,232.19000000,232.42000000,225.95000000,226.79000000,83440810,-5.40000000,-2.33000000,229.33750000
2025-09-09,AAPL,237.00000000,238.78000000,233.36000000,234.35000000,66313918,-2.65000000,-1.12000000,235.87250000
2025-09-08,AAPL,239.30000000,240.15000000,236.34000000,237.88000000,48999500,-1.42000000,-0.59340000,238.41750000
2025-09-05,AAPL,240.00000000,241.32000000,238.49000000,239.69000000,54870400,-0.30500000,-0.12917000,239.87500000
2025-09-04,AAPL,238.45000000,239.90000000,236.74000000,239.78000000,47549429,1.33000000,0.55777000,238.71750000
2025-09-03,AAPL,237.21000000,238.85000000,234.36000000,238.47000000,66427835,1.26000000,0.53117000,237.22250000
2025-09-02,AAPL,229.25000000,230.85000000,226.97000000,229.72000000,44075638,0.47000000,0.20502000,229.19750000
2025-08-29,AAPL,232.51000000,233.38000000,231.37000000,232.14000000,39418437,-0.37000000,-0.15913000,232.35000000
2025-08-28,AAPL,230.82000000,233.41000000,229.34000000,232.56000000,38074700,1.74000000,0.75383000,231.53250000
2025-08-27,AAPL,228.61000000,230.90000000,228.26000000,230.49000000,31259513,1.88000000,0.82236000,229.56500000
2025-08-26,AAPL,226.87000000,229.49000000,224.69000000,229.31000000,54575107,2.44000000,1.08000000,227.59000000

In [65]:
loopback_period = 252

In [64]:
selected_columns = ['symbol', 'close', 'changePercent']
new_df = df[selected_columns]
new_df.head()

           symbol        close  changePercent
date
2025-09-23   AAPL 254.43000000    -0.56667000
2025-09-22   AAPL 256.08000000     3.13000000
2025-09-19   AAPL 245.50000000     1.77000000
2025-09-18   AAPL 237.88000000    -0.87094000
2025-09-17   AAPL 238.99000000     0.00836925

In [71]:
#Calculate rate of change(ROC) for loopback_period
new_df.loc[:,'loopback_ema'] = new_df.loc[:,'close'].ewm(span=loopback_period).mean()
new_df.head()

           symbol        close  changePercent  loopback_ema
date
2025-09-23   AAPL 254.43000000    -0.56667000  254.43000000
2025-09-22   AAPL 256.08000000     3.13000000  255.25827381
2025-09-19   AAPL 245.50000000     1.77000000  251.97966632
2025-09-18   AAPL 237.88000000    -0.87094000  248.41267588
2025-09-17   AAPL 238.99000000     0.00836925  246.49810922

In [80]:
pd.options.mode.copy_on_write = True

In [98]:
#Generate signal
new_df.loc[:,'buy'] = (new_df.loc[:,'close'] > new_df.loc[:,'loopback_ema']) 

new_df.loc[:,'sell'] = (new_df.loc[:,'close'] < new_df.loc[:,'loopback_ema'])

In [100]:
#Buy securities when buy =1, sell = -1 or hold =0
new_df.loc[:,'signal'] = np.where(new_df.loc[:,'buy']==True, 1, np.where(new_df.loc[:,'sell']==True, -1,0))

In [116]:
#calculate daily returns of the strategy
new_df.loc[:,'returns'] = new_df.loc[:,'signal']* new_df.loc[:,'changePercent']
new_df.loc[:,'returns+1'] = 1+ new_df.loc[:,'returns']

In [122]:
#calculate cumulative return of teh startegy
new_df.loc[:, 'cumulative_returns'] = new_df.loc[:,'returns+1'].shift(-1).cumprod()

In [124]:
#print all the returns and final returns
print(new_df.head())
print('Final returns :', new_df['cumulative_returns'].iloc[0]-1)

           symbol        close  changePercent  loopback_ema    buy   sell  \
date
2025-09-23   AAPL 254.43000000    -0.56667000  254.43000000  False  False
2025-09-22   AAPL 256.08000000     3.13000000  255.25827381   True  False
2025-09-19   AAPL 245.50000000     1.77000000  251.97966632  False   True
2025-09-18   AAPL 237.88000000    -0.87094000  248.41267588  False   True
2025-09-17   AAPL 238.99000000     0.00836925  246.49810922  False   True

            signal     returns   returns+1  cumulative_returns
date
2025-09-23       0 -0.00000000  1.00000000          4.13000000
2025-09-22       1  3.13000000  4.13000000         -3.18010000
2025-09-19      -1 -1.77000000 -0.77000000         -5.94977629
2025-09-18      -1  0.87094000  1.87094000         -5.89998113
2025-09-17      -1 -0.00836925  0.99163075         -3.48706585
Final returns : 3.13